:root {
    --black: #190B14;
    --blue: #0E2A73;
    --light-pink: rgba(245, 108, 201, 0.5);
    --pink: #F56CC9;
    --white: #EDEAEC;
}

html {
    box-sizing: border-box;
    font-size: 18px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: var(--white);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*Typography*/

h1 {
    font: 400 2.369rem "Monoton";
    text-transform: uppercase;
}

h2 {
    font: 700 1.333rem "Oswald";
    text-transform: uppercase;
}

p {
    font: 400 1rem "Montserrat";
}

.subhead {
    font: 700 0.75rem "Oswald";
    text-transform: uppercase;
}

.cast {
    font: 700 1.777rem "Oswald";
    text-transform: uppercase;
}