:root {
    --black: #190B14;
    --blue: #0E2A73;
    --light-pink: rgba(245, 108, 201, 0.5);
    --pink: #F56CC9;
    --white: #EDEAEC;
}

html {
    box-sizing: border-box;
    font-size: 18px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: var(--light-pink);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*Container grid*/

/*@media (max-width: 1000px) {
    .container {
        display: grid;
        grid-template-areas: repeat(4, 1fr);
    }
}*/

/*Layout*/

header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
    background: url(/images/header_background_mobile.png) no-repeat;
    -webkit-clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
    clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
}

.social {
    grid-column: 2/4;
}

.social ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/5;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/4;
}

.button-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    border-left: 10px solid var(--pink);
    width: 159px;
    height: 48px;
}

.arrow {
    transform: translate(-10px);
}

#release-date {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/5;
}

#cast-list {
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    padding-bottom: 10rem;
}

section.pink {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
    -webkit-clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
    clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
}

.main-content {
    grid-column: 1/5;
    padding-bottom: 4rem;
    margin: 20px;
}

section.white {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
    background-color: var(--white);
    -webkit-clip-path: polygon(50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    clip-path: polygon(50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    padding-bottom: 4rem;
}

#hustlers-still {
    grid-column: 1/5;
    margin: 20px;
    padding-top: 4rem;
}

#wall-street-quote {
    grid-column: 1/5;
    margin: 20px;
}

#director-credit, #rating {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/5;
    color: var(--black);
}

.footer-bottom {
    width: 100vw;
    padding-top: 5rem;
    background-color: var(--blue);
    -webkit-clip-path: polygon(50% 50%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
    clip-path: polygon(50% 50%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
}

span.box {
    border: 1px solid var(--black);
}

/*Typography*/

h1 {
    font: 400 2.369rem "Monoton";
    text-transform: uppercase;
    color: var(--white);
}

h2 {
    font: 700 1.333rem "Oswald";
    text-transform: uppercase;
    color: var(--blue);
}

p {
    font: 400 1rem "Montserrat";
}

.subhead {
    font: 700 0.75rem "Oswald";
    text-transform: uppercase;
    color: var(--pink);
}

.cast {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 700 1.777rem "Oswald";
    text-transform: uppercase;
}

/*Button style*/

.button-text {
    font: 700 1rem "Oswald";
    text-transform: uppercase;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--pink);
    font-weight: 700;
}

/*Image styles*/

.img-container {
    max-width: 100%;
}

.img-container img {
    max-width: 100%;
}

.video {
    max-width: 100%;
}